@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f7f6f2;
}

$dark: #282828;
$white: #fff;
$orange: #E27A1F;


// font-family:serif;